---
layout: homepage
author_profile: true
---

{% include base_path %}

<div class="home">
  <h1>Welcome to James Rice's Academic Portfolio </h1>
  
  <div class="intro">
    <p>I am a PhD candidate in the <a href="https://www.essex.ac.uk/departments/government">Department of Government</a> at The University of Essex.</p>
    <p>My research interests include quantitative social science, public opinion and misinformation, and environmental governance. My research project, supervised by Dr. Zorzeta Bakaki in the Government Department and funded by the <a href="https://www.essex.ac.uk/postgraduate/research/doctoral-training-partnerships/sustainable-transitions---governance-ecological-management-and-society">Sustainable Transitions Leverhulme Doctoral Training Scholarship</a>, is on climate change misinformation.</p>
    <p>While my primary discipline is political science, my programme is interdisciplinary in scope, and I have a secondary supervisor, Professor Thankom Arun, in the <a href="https://www.essex.ac.uk/departments/essex-business-school">Essex Business School</a>.</p>
    <p>I am an Affiliate of the <a href="https://sticerd.lse.ac.uk/_new/programmes/hayek/">Hayek Programme in Liberal Political Economy</a> at the London School of Economics, a Research Fellow at the <a href="https://www.earthsystemgovernance.org/person/james-kennon-rice/">Earth System Governance Project</a>, a Ronald Coase Fellow at <a href="https://www.mercatus.org/students/ronald-coase-fellows">The Mercatus Center</a> at George Mason University, and a Research Associate with the <a href="https://www.politics.ox.ac.uk/oxford-computational-political-science-group">Oxford Computational Political Science Group</a> (OCPSG), based in Oxford University's <a href="https://www.politics.ox.ac.uk">Department of Politics and International Relations</a>.</p>
  </div>

  {% comment %}
  <div class="recent-posts">
    <h2>Recent Posts</h2>
    {% for post in site.posts limit:5 %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </div>
  {% endcomment %}
</div>
