---
layout: homepage
author_profile: true
---

{% include base_path %}

<div class="home">
  <h1>Welcome to James Rice's Academic Portfolio </h1>
  
  <div class="intro">
    <p>I am a PhD student in the Department of Government at The University of Essex.</p>
    <p>My research interests include quantitative social science, public opinion and misinformation, and environmental governance. My research project, supervised by Dr. Zorzeta Bakaki in the Government Department and funded by the Sustainable Transitions Leverhulme Doctoral Training Scholarship, is on climate change misinformation.</p>
    <p>While my primary discipline is political science, my programme is interdisciplinary in scope, and I have a secondary supervisor, Professor Thankom Arun, in the Essex Business School. </p>
  </div>

  {% comment %}
  <div class="recent-posts">
    <h2>Recent Posts</h2>
    {% for post in site.posts limit:5 %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </div>
  {% endcomment %}
</div>
